@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/ProximaNovaThin.otf');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/ProximaNovaLight.otf');
}

@regular: 'Proxima Nova Regular', 'Ubuntu', sans-serif;
@light: 'Proxima Nova Light', 'Ubuntu Light', sans-serif;
@thin: 'Proxima Nova Thin', 'Ubuntu Light', sans-serif;


@textColor: #606060;
@grayColor: #666666;
@headerColor: #112328;
@mainColor: #f77100;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

strong, b,
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.text-right {
    text-align: left;
}
.text-left {
    text-align: right;
}
.text-center {
    text-align: center;
}

.container {
  position: relative;
  width: 1470px;
  margin: 0 auto;
  padding: 0;
}

body {
  display: block;
  font-family: @regular;
  color: @textColor;
  overflow-y: scroll;
}
