.button {
    position: relative;
    display: inline-block;
    width: 245px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    text-shadow: 0px 2px 1px fade(#000, 36%);
    color: #fff;
    background: url('../img/bg-button.png') no-repeat center top @mainColor;
    background-size: 100% auto;
    border-radius: 7px;

    &:hover {
        background-color: lighten(@mainColor, 5%);
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

header {
    padding: 23px 0 25px;
    background: #fff;

    .container {
        padding: 0 135px;
        text-align: center;  
    }
}

.header-logo,
.header-menu,
.header-actions {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 93px;
    height: 81px;
    background: url('../img/logo.png') no-repeat center center;
}

.header-menu {
    margin-left: 140px;

    li {
        display: inline-block;
        margin: 0 16px;
        vertical-align: middle;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: -4px;
        }
    }

    a {
        position: relative;
        display: block;
        font-size: 18px;
        color: @grayColor;

        &.current,
        &:hover {
            color: #000;

            &:after {
                content: '';
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                width: 10px;
                height: 6px;
                background: url('../img/icon-menu-arrow.png') no-repeat center center;
            }
        }
    }
}

.header-actions-search,
.header-actions-user {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;

    a {
        display: block;
        font-size: 0;
    }
}

.header-actions-search a {
    width: 25px;
    height: 25px;
    background: url('../img/icon-search.png') no-repeat center center;
}

.header-actions-user {
    margin-left: 20px;
}

.header-actions-user a {
    width: 20px;
    height: 24px;
    background: url('../img/icon-user.png') no-repeat center center;
}
.header-actions-user a:hover {

}

main {
    padding: 20px 0;
    background: url('../img/bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;

    .container {
        background: #fff;
    }
}

.abilities {
    text-align: left;

    .container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;

        padding: 20px 115px 65px;
    }
}

.ability-single {
    padding: 0 50px;
}

.ability-icon-container {
    position: relative;
    height: 110px;
}

.ability-single-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ability-single-title {
    display: block;
    font-family: @light;
    font-size: 23px;
    color: @headerColor;
}

.ability-single-desc {
    margin: 20px 0 22px;
    line-height: 28px;
}

.ability-single-more {
    position: relative;
    font-size: 18px;
    color: @mainColor;
    border-bottom: 1px solid @mainColor;

    &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 12px;
        top: 50%;
        right: -22px;
        transform: translateY(-44%);
        background: url('../img/icon-more-arrow.png') no-repeat center center;

        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>;#grayscale");
        filter: gray;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        opacity: 0.55;
    }
    &:hover:after {
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        filter: grayscale(0);
        -webkit-filter: grayscale(0%);
        opacity: 1;
    }
}

.new-horizonts-bg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 81px fade(#000, 30%);
    z-index: 1;
}

.new-horizonts-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 135px 0 0;
    text-align: center;
    z-index: 2;
}

.new-horizonts-text {
    margin: 0 240px 60px;
    font-size: 54px;
    line-height: 72px;
    color: #000;
}

.about {

    .container {
        padding: 55px 165px 55px;
    }
}
